<!-- add ccs script component -->
<link rel="stylesheet" type="text/css" href="components/header/cmp.css">

<header>
  <h1>Nutrimeal</h1>
  <hr/>
  <div id="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="javascript:void(0);" onclick="route('accueil')">
        <img src="img/icon/icon.png" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" onclick="route('recette')">recette
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" onclick="route('bilan_semaine')">bilan de la semaine</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<!-- add js script -->
<script src="components/header/cmp.js">