@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
h1,
h3,
h4 {
  font-size: 22px;
  text-align: center;
  text-transform: none;
  font-family: 'Montserrat', sans-serif !important;
  color: #68D74A!important;
}

body {
  font-family: 'Roboto', sans-serif !important;
  /* Lets it scroll lazy */
  -webkit-overflow-scrolling: touch!important;
  /* Stops scrolling immediately */
  /* -webkit-overflow-scrolling: auto; */
}

/*generic class border divs components*/
.components-border-div {
  padding: 10px 0 10px 0 !important;
  margin: 10px 0 10px 0 !important
} 

/* @media */
/* 415px => tel iphone 6 plus max */
/* fluid-container make */
@media (max-width: 992px) {
  #global-container {
    width: 100% !important;
    max-width: 100%;
  }
}