<!-- add ccs script component -->
<link rel="stylesheet" type="text/css" href="components/bilan_semaine-bloca-controll/cmp.css">

<div class="bilan_semaine-bloca-controll components-border-div">

  <!-- button plus to add recettes -->
  <div>
    <button id="plus-button" type="button" data-toggle="modal" data-target="#exampleModal">
      <span data-toggle="modal">
        <i class="fas fa-plus-circle fa-2x"></i>
      </span>
    </button>
  </div>
  <!-- add crud component -->
  <div class="crud-bloca container"></div>

  <div class="container">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Création d'un repas</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>

              <!-- input date -->
              <div class="form-group">
                <div class="bilan_semaine-datepicker"></div>
              </div>

              <!-- input recette -->
              <div class="bilan_recette-bloca-input container">
                <label for="bilan_recette-bloca-input">Choisir une recette</label>
                <input id="bilan_recette-bloca-input" class="form-control form-control-md" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="button" class="btn btn-primary" onclick="javascript:pushRecetteInDisplayTableBlocA();">Créer repas</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add js script -->
<script src="components/bilan_semaine-bloca-controll/cmp.js">