<!-- add ccs script component -->
<link rel="stylesheet" type="text/css" href="components/bilan_semaine-bloca-controll/cmp.css">

<div class="bilan_semaine-bloca-controll components-border-div">

  <!-- button plus to add recettes -->
  <div class="container">
    <button id="plus-button" onclick="javascript:showModal('create', null);" type="button"
      data-toggle="modal">

      <span data-toggle="modal">
        <i class="fas fa-plus-circle fa-2x"></i>
      </span>
    </button>
  </div>

  <!-- import crud -->
  <div class="crud-bloca container table-container"></div>

  <!-- import modal -->
  <div id="container-modal-div" class="container"></div>

  <!-- import modal-test -->
  <div id="container-modal-test-div" class="container"></div>

</div>

<!-- add js script -->
<script src="components/bilan_semaine-bloca-controll/cmp.js">