<!-- add ccs script component -->
<link rel="stylesheet" type="text/css" href="components/bilan_semaine-bloca-controll/cmp.css">

<div class="bilan_semaine-bloca-controll components-border-div">

  <!-- button plus to add recettes -->
  <div class="container">
    <button id="plus-button" type="button" data-toggle="modal" data-target="#createModal">
      <span data-toggle="modal">
        <i class="fas fa-plus-circle fa-2x"></i>
      </span>
    </button>
  </div>

  <!-- import crud -->
  <div class="crud-bloca container table-container"></div>

  <!-- import modal-create -->
  <div id="container-modal-create-div" class="container">
  
  <!-- import modal-create -->
  <div id="container-modal-edit-div" class="container">
    
  </div>
</div>

<!-- add js script -->
<script src="components/bilan_semaine-bloca-controll/cmp.js">