<!-- add ccs script component -->
<link rel="stylesheet" type="text/css" href="components/bilan_semaine_crud/cmp.css">

<table id="table-crud" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Dates de repas</th>
      <th scope="col">Recettes</th>
      <th scope="col">Edit / Delete</th>
    </tr>
  </thead>
  <tbody id="tbody-crud"></tbody>
</table>

<input type="button" class="btn btn-info" value="Calcul Bilan" onclick="javascript:displayBilan()"
/>

<!-- add js script -->
<script src="components/bilan_semaine_crud/cmp.js">