<!-- add ccs script component -->
<link rel="stylesheet" type="text/css" href="views/accueil/accueil.css">

<!-- carousel -->
<div id="carousel"></div>

<!-- text: présentation site-->
<div class="accueil-content">
  <div class="accueil-paragraphe">
    <h4>Votre bien être est à porté de clic</h4>

    <p>Votre santé et votre bien-être est au coeur des préocuppations de Nutrimeal</p>
    <p>Nous vous garantissons des bilans nutritionnels réalisés avec une équipe santé
      compétente.</p>
    <p>Retrouvez ainsi la ligne tout en sucitant des repas variés et healthy !</p>
  </div>
  <div class="accueil-photo-link">
      <img class="accueil-img" src="img/img-1.jpg"/>
      <div class="accueil-button-link">
        <span>je réalise mon bilan</span>
      </div>
  </div>
</div>

<!-- add js script -->
<script src="views/accueil/accueil.js">