<!-- add ccs script component -->
<link rel="stylesheet" type="text/css" href="components/datepicker/cmp.css">

<div class="container datepicker-container">
  <label for="label-datepicker">Choisir une date de repas</label>
  <div class="datepicker-input-container">
    <div class="datepicker-input-tag">
        <input type="text" class="input-datepicker form-control form-control-md" id="datepickerId" />
    </div>
    <div class="datepicker-i-tag">
      <i class="fas fa-calendar-alt"></i>
    </div>
  </div>
</div>

<!-- add js script -->
<script src="components/datepicker/cmp.js">