.recette-blocb-display h4 {
  text-transform: uppercase;
}

.recette-blocb-display .img-recette {
  border-radius: 5px !important;
  width: 100% !important;
}

@media (min-width: 768px) {
  .recette-blocb-display .presentation {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
}

#btnExportPdfRecette{
  margin-left: 10px;
}
