<!-- add ccs script component -->
<link rel="stylesheet" type="text/css" href="components/recette-blocb-display/cmp.css">
<!--
<div class="recette-blocb-display components-border-div">
  <!-- 3 elements to display dynamically
  <div class="img"></div>
  <div class="detail"></div>
  <div class="ingredients"></div>
</div>
-->

<div class="ui-widget">
  <label for="city">Your city: </label>
  <input id="city">
  Powered by <a href="http://geonames.org">geonames.org</a>
</div>

<div class="ui-widget" style="margin-top:2em; font-family:Arial">
  Result:
  <div id="log" style="height: 200px; width: 300px; overflow: auto;" class="ui-widget-content"></div>
</div>

<!-- add js script -->
<script src="components/recette-blocb-display/cmp.js">